/* Largest Styles */

/* Font Declaration */
@font-face {
    font-family: 'Munro';
    src: url('../fonts/Munro-2LYe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   

/* Standard Overrides */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f1ebcf;
    font-family: 'Munro', sans-serif;
    color:#1a1a18;
    overflow-x: hidden;
    touch-action: manipulation;
    text-align:center;
}

a{
  line-height: 0;
  color:#a77b1c;
  /* transition: color 0.15s ease; */
}

a:hover{
  color: #7e5c14;
}

a:visited{
  color:#a77b1c;
}

/* Containers */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    width: 100vw; */
    flex-direction:column;
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 90vh;
    padding: 20px 0;
    box-sizing: border-box;
}

.img{
      max-width:65%;
    }

    .email-img{
      max-width:80%
    }

    .image-container{
      height:246px;
    }

  .illustration-email-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* <- this centers items horizontally */
    justify-content: center; /* <- optional: centers items vertically if the container has height */
    text-align: center; /* <- helps with inline elements or text */
    transform: scale(0.8); 

  }

   .message{
      padding:20px;
      font-size:18px;
      text-align:center;
      letter-spacing: 1px;
      line-height: 30px;
      margin-bottom:0;

    }


  /* Fade in animation */

  .fade-in {
    opacity: 0;
    animation: fadeIn .5s ease-in forwards;
  }

  /* Fade out animation */

  .fade-out {
    animation: fadeOut 0.5s ease forwards;
  }

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .social-icons{
      margin-top:-16px;
      margin-bottom:16px;
      display:flex;
      gap: 12px;
    }

    /* .social-icon{
      width:35px;
    } */

  .embed-container{
      transform: scale(1); 

  }

  .embed-container-position{
    display: flex;
    align-items: start;
    justify-content: top;
  }

  

  /* Medium Styles */
  @media screen and (max-width: 900px) {

      /* .wrapper-scale{

      } */

    .image-container{
      height:246px;
      width:auto
    }
  }



  /* Smallest Styles */
  @media screen and (max-width: 700px) {


    

    .embed-container{
      transform: scale(1); 

  }
  
    .message{
      padding:40px;
      font-size:18px;
      text-align:center;
      letter-spacing: 1px;
      line-height: 30px;
      /* margin-top:100px; */

    }

    .email-img{
      max-width:70%;
    }

    .traveler-img{
      height:auto;
    }


    .main-content {
      height: auto;
      width: 100%;
    }
    

    .wrapper{
      padding:32px;
    }

    .mobile-hide{
      display:none;
    }

    .image-container{
      height:215px;
      width:auto
    }
  }
  